/* --------------------- */
/*   Custom Properties   */
/* --------------------- */

/* --------------------- */
/*        Reset          */
/* --------------------- */

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Setup for body */
body {
    line-height: 1.5;
}

/* Make images easier to work with */
img,
iframe, 
picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button, 
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------------- */
/*    Utility Classes    */
/* --------------------- */

/*  ----- General -----  */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.hide-element {
    display: none;
}

/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
} */

/*  ----- Colours -----  */

/* ----- Corporate Sponsor ----- */
/* Green: #188241; */
/* Dark Grey: #1d231c; */
/* Light Grey: #e1dfd9; */
/* White: #ffffff; */
/* Black: #000000;  */

/*  ----- General -----  */

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid mediumblue !important;
} */

nav {
    font-family: 'Libre Baskerville', serif;
}

.container-fluid {
    padding-left: 2rem;
}

.introduction {
    display: grid;
    justify-items: center;
    background-color: #212529;
    /* background-color: #1d231c; */
    color: #ffffff;
    padding: 2rem 4rem;
}

.introduction p {
    max-width: 60ch;
}

.introduction-secondary {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
    grid-template-columns: 1fr 2fr;
}

#steering-wheel img {
    border-radius: 1rem;
}

/* ----- Media Queries ----- */

@media (min-width: 992px) {
    .offcanvas-home {
        display: none;
    }
}